language: python
os: linux
# ubuntu 22.04
dist: jammy
python:
  - "3.10"

before_install:
  - nvm install --lts
  - npm install -g npm@latest

install:
  - gem install webrick
  - mkdir ./tools
  - curl -L https://coveralls.io/coveralls-linux.tar.gz | tar -xz -C ./tools
  - pip install -r ./backend/requirements.txt
  - cd ./frontend
  - npm install
  - npm run build
  - cd ..

before_script:
  - python ./backend/manage.py migrate

script:
  - black ./backend --check
  - flake8 ./backend --max-line-length=88

after_script:
  - coverage run --source=app ./backend/manage.py test
  - coverage xml
  - ./tools/coveralls report --repo-token=$COVERALLS_REPO_TOKEN ./coverage.xml

before_deploy:
  - mkdir ./backend/static
  - cp -r ./frontend/build/* ./backend/static
  - cd ./backend
  - sed -i '/tatic/d' .gitignore

deploy:
  - provider: elasticbeanstalk
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_ACCESS_SECRET
    region: $AWS_DEPLOY_REGION
    app: $AWS_APP_NAME
    env: $AWS_APP_ENV_PROD
    bucket_name: $AWS_BUCKET_NAME
    on:
      branch: main 